{% extends "layouts/base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        <div class="wrapper2">
            <section class="section wb">
                <div class="container">
                    <h2 style="text-align: center">Tourism News</h2>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="page-wrapper">
                                <div class="blog-title-area text-center">
                                    <div class="page-title wb">
               
                                    <h3>World Travel Awards Africa & Indian Ocean 2022 winners announced at KICC, Nairobi</h3>
                             
                                </div><!-- end title -->
        
                                <div class="single-post-media">
                                    <img src="static/upload/menu_08_1.jpg" alt="" class="img-fluid">
                                </div><!-- end media -->
        
                                <div class="blog-content">  
                                    <div class="pp">
                                        <p style="text-align: justify">World Travel Awards acknowledges, rewards and celebrates excellence across all sectors of the tourism industry.The stars of travel, tourism and hospitality aligned at the Kenyatta International Convention Centre (KICC), Nairobi, Kenya to find out who amongst them had won the industry’s ultimate annual honours. <a href="blank.html">ReadMore</a></p>
                                       </div><!-- end pp -->
                                </div>
                            <div class="page-title wb">
               
                                    <h3>Uduny Bids Goodbye to Baobab Beach Resort and it's Affiliated Properties</h3>
                             
                                </div><!-- end title -->
        
                                <div class="single-post-media">
                                    <img src="static/upload/blog_11.jpg" alt="" class="img-fluid">
                                </div><!-- end media -->
        
                                <div class="blog-content">  
                                    <div class="pp">
                                        <p style="text-align: justify">Working at Baobab Beach Resort & Spa has been a wonderful experience that I will never forget. I am very sad to leave the great staff and environment and wish everyone the best success.<a href="single-slider1.html">ReadMore</a></p>
                               </div><!-- end pp -->
                                    
                            <div class="page-title wb">
               
                                    <h3>Technology Solutions That Reach Resort Guests Everywhere They Want to Be</h3>
                             
                                </div><!-- end title -->
        
                                <div class="single-post-media">
                                    <img src="static/upload/menu_07_1.jpg" alt="" class="img-fluid">
                                </div><!-- end media -->
        
                                <div class="blog-content">  
                                    <div class="pp">
                                        <p style="text-align: justify">Mobile solutions are the key to enhancing the guest experience today, and technology companies are answering the call by providing hoteliers with new, innovative options to support their operations.<a href="single-slider2.html">ReadMore</a></p>
                                       </div><!-- end pp -->
        
                                    
                                </div><!-- end title -->
             
                                </div><!-- end page-wrapper -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div>
          </section>
        </div>
    {% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
