{% extends "layouts/base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="page-wrapper justify-content-center">
    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                <div class="left-side">
                    <div class="masonry-box post-media">
                         <img src="static/upload/blog_masonry_01.jpg" alt="" class="img-fluid">
                         <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    
                                    <h6><a href="single-slider2_5.html" title="">7 Deadly Sins of Influencer Marketing</a></h6>
                                   
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->

                <div class="center-side">
                    <div class="masonry-box post-media">
                         <img src="static/upload/blog_masonry_02.jpg" alt="" class="img-fluid">
                         <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    
                                    <h6><a href="single-slider1.html" title="">Uduny Bids Goodbye to Baobab Beach Resort </a></h6>
                                    
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->

                    <div class="masonry-box small-box post-media">
                         <img src="static/upload/blog_masonry_03.jpg" alt="" class="img-fluid">
                         <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
  
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->

                    <div class="masonry-box small-box post-media">
                         <img src="static/upload/blog_masonry_04.jpg" alt="" class="img-fluid">
                         <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">

                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->

                <div class="right-side hidden-md-down">
                    <div class="masonry-box post-media">
                         <img src="static/upload/blog_masonry_05.jpg" alt="" class="img-fluid">
                         <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    
                                    <h6><a href="single-slider_3.html" title="">10 Strategies to Land You More Bookings At your Hotel</a></h6>
                                    
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                         </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end right-side -->
            </div><!-- end masonry -->
        </div>
    </section>
    <hr class="invis">
    <!--<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">-->
                    <div class="section-title">
                        <h3 class="color-aqua"><a href="single1.html" title="">TRAVELTECH</a></h3>
                    </div><!-- end title -->

                    <!--<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="single1.html" title="">
                                        <img src="static/upload/Traveltech.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta big-meta">
                                    <h4><a href="single1.html" title="">How to Travel Magical Kenya on a Budget</a></h4>
                                   
                            
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                    <hr class="invis">

                    <div class="section-title">
                        <h3 class="color-pink"><a href="about.html" title="">NEWS</a></h3>
                    </div><!-- end title -->
                    
                    <!--<div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">-->
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="single-fullwidth.html" title="">
                                        <img src="static/upload/menu_05_1.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4><a href="single-slider.html" title="">World Travel Awards Africa & Indian Ocean 2022 winners announced at KICC, Nairobi</a></h4>
                           
                                </div><!-- end meta -->
                                
                           </div><!-- end blog-box -->

                    <hr class="invis">
                        </div><!-- end col -->

                      <div class="section-title">
                            <h3 class="color-red"><a href="single4.html" title="">SUSTAINABLE TOURISM</a></h3>
                      </div><!-- end title -->
                      <!--<div class="row">-->
                        <!--<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">-->
                               <div class="blog-box">	
                                 <div class="post-media">
                                    <a href="single4.html" title="">
                                        <img src="static/upload/menu_08_5.jpg" alt="" class="img-fluid">
                                         <div class="hovereffect">
                                               <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                 
                     </div><!-- end media -->
                    </div>
                     <div class="blog-meta">
                        <h4><a href="single4.html" title="">Enhancing Disability Accessibility in Hospitality: A Moral Imperative and Strategic Advantage</a></h4>
                    
                     </div><!-- end meta -->
                 </div><!-- end blog-box --> 
               </div><!-- end col -->
             </div><!-- end row -->
            </div><!-- end col -->
           </div><!-- end row -->

            <div class="row">
                <div class="col-lg-10" align="center">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="static/upload/banner_01.jpg" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end col -->
            </div><!-- end row -->

<div class="wrapper2">
            <hr class="invis1">

            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-list clearfix">
                        <div class="section-title">
                            <h3 class="color-green"><a href="single2.html" title="">AVIATION</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="single2.html" title="">
                                        <img src="static/upload/blog_square_01.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h6><a href="single2.html" title="">Aviation Manuals Rolls Out Integrated SMS For Wider Safety Assessment</a></h6>
                                <p>RwandAir will add nonstop service to Paris Charles de Gaulle (CDG) in June, adding the French capital to its network.Flights between Kigali (KGL) and CDG will be operated 3X-weekly with an Airbus A330 aircraft. The service will commence from June 27. Flight time will be around 8.5 hr., according to the airline.</p>
                       
                               
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        
                    </div><!-- end blog-list -->

                    <hr class="invis">

                    <div class="blog-list clearfix">
                        <div class="section-title">
                            <h3 class="color-red"><a href="single.html" title="">EVENTS</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="single.html" title="">
                                        <img src="static/upload/menu_08_4.jpg" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h6><a href="single.html" title="">Total Energies AFCON 2024</a></h6>
                                <p style="text-align: justify">Excitement is in the air as the African Cup of Nations takes centre stage in the Ivory Coast! This prestigious football event isn't just about the thrill of the game; it's also set to cast a spotlight on the beauty and culture of this vibrant nation.</p>
                
                                
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">

                        
                    </div><!-- end blog-list -->
                </div><!-- end col -->

                <div class="col-lg-3">
                    <div class="section-title">
                        <h3 class="color-yellow"><a href="blog-category-05.html" title="">Vlogs</a></h3>
                    </div><!-- end title -->

                    <div class="blog-box">
                        <div class="post-media">
                            <a href="blog-category-05.html" title="">
                                <img src="static/upload/blog_12.jpg" alt="" class="img-fluid">
                                <div class="hovereffect">
                                    <span class="videohover"></span>
                                </div><!-- end hover -->
                            </a>
                        </div><!-- end media -->
                        <div class="blog-meta">
                            <h6><a href="blog-category-05.html" title="">How to become a good vlogger</a></h6>
                          
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">

                    <div class="section-title">
                        <h3 class="color-grey"><a href="single3.html" title="">HOTELTECH</a></h3>
                    </div><!-- end title -->


                    <div class="blog-box">
                        <div class="post-media">
                            <a href="single3.html" title="">
                                <img src="static/upload/menu_08_3.jpg" alt="" class="img-fluid">
                                <div class="hovereffect">
                                    <span></span>
                                </div><!-- end hover -->
                            </a>
                        </div><!-- end media -->
                        <div class="blog-meta">
                            <h6><a href="single3.html" title="">Hotel Marketing Checklist: 10 Strategies to Land You More Bookings At your Hotel</a></h6>
                            
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->
                </div><!-- end col -->
            </div><!-- end row -->
    </div><!-- end wrapper -->
</div>
</div><!--</section>-->


{% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}